.go-top {
    position: fixed;
    bottom: 0.75em;
    right: 0.5em;
    text-decoration: none;
    font-size: 40px;
    padding: 10px;
    display: none;
    margin: 0;
}

.go-top:hover {
    text-decoration: none;
}
